[submodule "themes of 1"]
	path = fenxu_docset__20160417_1/_themes
	url = https://github.com/Microsoft/templates.docs.msft
	branch = master
[submodule "themes of 2"]
	path = fenxu_docset__20160417_2/_themes
	url = https://github.com/Microsoft/templates.docs.msft
	branch = master
